.slide_L(id="previous") &#10094;
    .AlbumCoverContainer
        .AlbumCover
        h3
            a(href="#") Stream/Download

    .AlbumTextContainer
        .AlbumText
            .SongTitle 4eva
            .AlbumTitle 4Now

    .AlbumTextContainer
        .AlbumText
            .SongTitle
            .AlbumTitle
            .ArtistName
    .slide_R(id="next") &#10095;